k8sServiceHost: {{ kubeAPIFQDN}}
k8sServicePort: 6443
kubeProxyReplacement: true

k8sClientRateLimit:
  qps: 30
  burst: 60

k8s:
  requireIPv4PodCIDR: true

cluster:
  id: {{ ciliumClusterID }}
  name: {{ kubeName }}

etcd:
  clusterDomain: {{ kubeDomain }} 

devices: {{ kubeVIPInterface }}  

hubble:
  metrics:
    enabled:
    - dns:query;ignoreAAAA
    - drop
    - tcp
    - flow
    - icmp
    - http
  relay:
    enabled: true
  ui:
    enabled: true
  peerService:
    clusterDomain: {{ kubeDomain }}

cni:
  exclusive: false

envoy:
  enabled: false  

ipam:
  operator:
    clusterPoolIPv4MaskSize: {{ podCIDRSubnetSize }}
    clusterPoolIPv4PodCIDRList:
    - {{ podCIDR }}

loadBalancer:
  algorithm: maglev
  serviceTopology: true

operator:
  prometheus:
    enabled: true
prometheus:
  enabled: true
